<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>estimate</display-name>
	<welcome-file-list>
		<welcome-file>index_sso.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>1200</session-timeout>
	</session-config>
	<servlet>
		<servlet-name>testController</servlet-name>
		<servlet-class>com.ydy.controller.TestController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>testController</servlet-name>
		<url-pattern>/test.do</url-pattern>
	</servlet-mapping>
</web-app>